.box {

}

.box-item {
    margin-bottom: 20px;
    margin-top: 20px;
}

.box-item-bordered-in {
    padding-left: 30px;
}

.box-item-bordered {
    border: 3px solid $black;
    height: 100%;
    padding: 35px;
    @include border-radius(35px);
}

.box-item-bordered-title {
    font-size: 38px;    
}

.box-link {    
    display: block;    
}

.box-img {
    display: block;
    margin: 0 auto;
}


