.header {
    margin-bottom: 30px;
}

.header-left, 
.header-center, 
.header-right {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-center {
    background-color: $black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: $white;
    height: 70px;
    font-size: 26px;
    position: relative;
}

.header-center:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: $black;
	border-width: 35px;
	margin-left: -35px;
}

.header-links {
    display: inline-block;
}

.nav-home {
    width: 50px;
}

.nav-back {
    width: 50px;
}
