* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'SamsungSharpSans';
  src: url('./SamsungSharpSans-Bold.woff');
}

h2 {
  font-family: 'SamsungSharpSans';
  font-size: 90px;
}

.section01_home_principal {
  width: 1200px;
  height: 2000px;
  margin: 0 auto;
}


.div_button {
  margin: 0 auto;
  width: 1080px;
  height: 460px;
  z-index: 999;
  border-radius: 30px;
  position: relative;
  bottom: 535px;

}

.div_button a {
  text-decoration: none;
  color: #000000;
}

.button {
  margin: 0 auto;
  width: 1042px;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: 30px 30px #b5cdc6;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px 0 110px;
}

.button:active {
  box-shadow: none;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  animation-duration: 300ms;
}

.button::after {
  box-shadow: none;
}

.button_icon {
  width: 150px;
  height: 250px;
}


video {width: 100%;}
body {scale:1.0;}
.container {scale: 1.05;}

.button {
  margin: 0 auto;
  width: 1042px;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: 30px 30px #b5cdc6;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px 0 110px;
  scale: 0.7;
  margin-left: -150px;
}