.background-black { 
  width: 1200px;
  height: 2000px;
  background-color: #000000;
  margin: 0 auto;
  color: #ffffff;
}

.header-center {
  background-color: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #000000;
  height: 70px;
  font-size: 26px;
  position: relative;
}

.header-center:after {
  border-top-color: #ffffff;
}

.image-zoom {margin-top: -110px;}