.feature{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-s23{
    background-color: #212121;
}

.feature-s23fe{
    background-color: #020202;
}

h3, p{
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
 
h3{
    max-width: 20ch;
    margin-bottom: 25px;

    font-size: 60px;
    font-weight: 45px;
}

.box-paragraph{
    width: 870px;
    margin: 0 auto;
    margin-bottom: 35px;

    font-size: 40px;
    font-weight: 15pt;
    font-family: 'Samsung InterFace';
}

.box-tj{
    font-family: 'SamsungOne';
    font-size: 16px;
    margin: 30px 80px;
}

.tit-snapdragon{
    color: #fd5051;
}

.tit-nightography{
    color: #c03a36;
}

video{
    max-width: 1100px;
}