.background-s23 { 
  width: 1200px;
  height: 2000px;
  background-image: url('../imgs/galaxy-s23_bg.png');
  margin: 0 auto;
  color: #ffffff;
}

.background-s23fe { 
  width: 1200px;
  height: 2000px;
  background-image: url('../imgs/galaxy-s23fe_bg.png');
  margin: 0 auto;
  color: #000000;
}

.background-zfold { 
  width: 1200px;
  height: 2000px;
  background-color: #f4f4f4;
  margin: 0 auto;
  color: #000000;

}

.background-zflip { 
  width: 1200px;
  height: 2000px;
  background-color: #fefefe;
  margin: 0 auto;
  color: #000000;
}

.background-a54 { 
  width: 1200px;
  height: 2000px;
  background-image: url('../imgs/galaxy-a54_bg.png');
  margin: 0 auto;
  color: #000000;
}

.background-a34 { 
  width: 1200px;
  height: 2000px;
  background-image: url('../imgs/galaxy-a34_bg.png');
  margin: 0 auto;
  color: #000000;
}

.background-a14 { 
  width: 1200px;
  height: 2000px;
  background-image: url('../imgs/galaxy-a14_bg.png');
  margin: 0 auto;
  color: #000000;
}

.background-tabs9 { 
  width: 1200px;
  height: 2000px;
  background-color: #000000;
  margin: 0 auto;
  color: #ffffff;
}

.background-tabs6 { 
  width: 1200px;
  height: 2000px;
  background-color: #ffffff;
  margin: 0 auto;
  color: #000000;
}

.background-tabs9fe { 
  width: 1200px;
  height: 2000px;
  background-color: #cee9de;
  margin: 0 auto;
  color: #000000;
}

.background-book3{ 
  width: 1200px;
  height: 2000px;
  background-color: #efefef;
  margin: 0 auto;
  color: #000000;
}

.background-book3360{ 
  width: 1200px;
  height: 2000px;
  background-color: #f8f8f8;
  margin: 0 auto;
  color: #000000;
}

.background-book3ultra{ 
  width: 1200px;
  height: 2000px;
  background-color: #ffffff;
  margin: 0 auto;
  color: #000000;
}

.background-smarttag{ 
  width: 1200px;
  height: 2000px;
  background-color: #ffffff;
  margin: 0 auto;
  color: #000000;
}

.background-watch6{ 
  width: 1200px;
  height: 2000px;
  background-color: #f4f4f4;
  margin: 0 auto;
  color: #000000;
}

.background-buds2pro{ 
  width: 1200px;
  height: 2000px;
  background-color: #f5f5f5;
  margin: 0 auto;
  color: #000000;
}

.background-watch5pro{ 
  width: 1200px;
  height: 2000px;
  background-image: url('../imgs/galaxy-watch5pro_bg.png');
  margin: 0 auto;
  color: #ffffff;
}

.background-budsfe { 
  width: 1200px;
  height: 2000px;
  background-color: #deecea;
  margin: 0 auto;
  color: #000000;
}

.header-center.s23, .header-center.tabs9, .header-center.watch5pro  {
  background-color: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #000000;
  height: 70px;
  font-size: 26px;
  position: relative;
}

.header-center.s23:after, .header-center.tabs9:after, .header-center.watch5pro:after {
  border-top-color: #ffffff;
}

.image-02-tabs6 {margin-top:-55px;}
