.feature{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.feature-s23{
    background-color: #212121;
}

.feature-s23fe{
    background-color: #020202;
}

.feature-s23fe-green{
    background-color: #d5e5e1;
}

.feature-zfold-black,
.feature-a54-black,
.feature-a14-black,
.feature-s9-black{
    background-color: #000000;
}

.feature-zfold-white,
.feature-zflip-white,
.feature-a54-white{
    background-color: #ffffff;
}

.feature-zflip-f1ebe1{
    background-color: #f1ebe1;
}

.feature-a14-e4e3e0{
    background-color: #e4e3e0;
}
.feature-a14-ebf2e0{
    background-color: #ebf2e0;
}

.tit-snapdragon{color: #fd5051;}
.tit-nightography{color: #c03a36;}
.tit-nightography-s23fe{color: #c2d5ca;}
.txt-white{color: #ffffff;}
.txt-black{color: #000000;}
.txt-green{color: #79af68;}
.txt-pink{color:#ff004e;}

strong{
    font-weight: bolder;
}

h3, p{
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

h3{
    margin-bottom: 30px;

    font-size: 45px;
    line-height: 55px;
}

.box-paragraph{
    margin: 0 120px;
    padding-bottom: 20px;

    font-size: 28px;
    line-height: 38px;
    font-family: 'Samsung InterFace';
}

.box-paragraph strong{
    margin: 0 auto;
    margin-bottom: 35px;

    font-size: 40px;
    font-weight: 15pt;
    font-family: 'Samsung InterFace Bold';
}

.box-tj{
    font-family: 'SamsungOne';
    font-size: 16px;
    margin: 30px 80px;
}

video{
    max-width: 100%;
    margin: 0 auto;
}