.background-s23 { 
  width: 100%;
  height: auto;
  background-image: url('../imgs/galaxy-s23_bg.png');
  background-size: cover;
  color: #ffffff;
}

.background-s23fe { 
  width: 100%;
  height: auto;
  background-size: cover;
  background-image: url('../imgs/galaxy-s23fe_bg.png');
  
  color: #000000;
}

.background-zfold { 
  width: 100%;
  height: auto;
  background-size: cover;
  background-color: #f4f4f4;
  
  color: #000000;

}

.background-zflip { 
  width: 100%;
  height: auto;
  background-color: #fefefe;
  background-size: cover;
  color: #000000;
}

.background-a54 { 

  width: 100%;
  height: auto;
  background-image: url('../imgs/galaxy-a54_bg.png');
  background-size: cover;

  color: #000000;
}

.background-a34 { 
  width: 100%;
  height: auto;
  background-image: url('../imgs/galaxy-a34_bg.png');
  background-size: cover;
  color: #000000;
}

.background-a14 { 
  width: 100%;
  height: auto;
  background-image: url('../imgs/galaxy-a14_bg.png');
  background-size: cover;
  color: #000000;
}

.background-tabs9 { 
  width: 100%;
  height: auto;
  background-color: #000000;
  background-size: cover;
  color: #ffffff;
}

.background-tabs6 { 
  width: 100%;
  height: auto;
  background-color: #ffffff;
  background-size: cover;
  color: #000000;
}

.background-tabs9fe { 
  width: 100%;
  height: auto;
  background-color: #cee9de;
  background-size: cover;
  color: #000000;
}

.background-book3{ 
  width: 100%;
  height: auto;
  background-color: #efefef;
  background-size: cover;
  color: #000000;
}

.background-book3360{ 
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  background-size: cover;
  color: #000000;
}

.background-book3ultra{ 
  width: 100%;
  height: auto;
  background-color: #ffffff;
  background-size: cover;
  color: #000000;
}

.background-smarttag{ 
  width: 100%;
  height: auto;
  background-color: #ffffff;
  background-size: cover;
  color: #000000;
}

.background-watch6{ 
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
  background-size: cover;
  color: #000000;
}

.background-buds2pro{ 
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  background-size: cover;
  color: #000000;
}

.background-watch5pro{ 
  width: 100%;
  height: auto;
  background-image: url('../imgs/galaxy-watch5pro_bg.png');
  background-size: cover;
  color: #ffffff;
}

.background-budsfe { 
  width: 100%;
  height: auto;
  background-color: #deecea;
  background-size: cover;
  color: #000000;
}

.header-center.s23, .header-center.tabs9, .header-center.watch5pro  {
  background-color: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #000000;
  height: 70px;
  font-size: 26px;
  position: relative;
}

.header-center.s23:after, .header-center.tabs9:after, .header-center.watch5pro:after {
  border-top-color: #ffffff;
}

.image-02-tabs6 {margin-top:-55px;}

.image-02-a54, .image-02-a34, .image-02-a14 {
    margin-top: -25px;
}

.col-md-6.box-item.zfold a {
  color: #ffffff;
  text-decoration: none;
}

.col-md-6.box-item.zflip a {
  color: #000000;
  text-decoration: none;
}

.col-md-6.box-item.zfold video,  .col-md-6.box-item.zflip video{
  width: 100%
}

.col-md-6.box-item.zfold h2 {
  position: absolute;
  top: 880px;
  font-size: 31px;
  line-height: 1.3;
  margin-left: 30px;
}

.col-md-6.box-item.zflip h2 {
  position: absolute;
  top: 880px;
  font-size: 40px;
  line-height: 1.2;
  margin-left: 30px;
}