/* line 1, ../sass/generic/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


body {
  scale: 0.89;
  top: 0;
  margin-top: -84px;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url("SamsungSharpSans-Bold.woff2") format("woff2"), url("SamsungSharpSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Samsung InterFace';
  src: url("SamsungIF_Rg.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Samsung InterFace Bold';
  src: url("SamsungIF_Rg.ttf") format('truetype');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SamsungOne';
  src: url("SamsungOne-400.ttf") format('truetype');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fff;
  font-family: 'Samsung Sharp Sans';
}

h1, h2, h3, h4, h5, ul, li, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
}

.header {
  margin-bottom: 9px;
}

.header-left,
.header-center,
.header-right {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-center {
  background-color: #000;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  height: 70px;
  font-size: 26px;
  position: relative;
}

.header-center:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #000;
  border-width: 35px;
  margin-left: -35px;
}

.header-links {
  display: inline-block;
}

.nav-home {
  width: 50px;
}

.nav-back {
  width: 50px;
}

.wrap {
  padding-bottom: 30px;
}

.eco-galaxy,
.cadeado-galaxy {
  margin-bottom: 14px;
}

.grav-dados,
.try-galaxy {
  margin-top: 14px;
}

.box-item {
  margin-bottom: 11px;
  margin-top: 11px;
}

.box-item-bordered-in {
  padding-left: 12px;
}

.box-item-bordered {
  border: 2px solid #000;
  height: 100%;
  padding: 0px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px;
  max-width: 500px;
}

.box-item-bordered-title {
  font-size: 36px;
  margin-bottom: 4px;
  padding-left: 30px;
  padding-top: 30px;
  /* text-align: center; */
}

.smartTag {
  display: block;
  width: 350px;
  margin: 40px auto 0 auto;
}

.col-md-6.box-item .row {
  max-width: 520px;
  right: 0;
}



.box-link {
  display: block;
}

.box-img {
  display: block;
  margin: 0 auto;
}

.videos {
  display: block;
  margin: 0 auto;
  width: 300px;
}

